/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2020, 09:31:31
    Author     : nicolasdotnet
*/
main{

    height: 700px;
    
}

nav{

    padding-bottom: 10px;
    
}
h1{

}

h2{

}

.error {

    color: red;

}

.msg{

    color: green;

}

.username{

    color: white;

}

.x{
    margin-left: 5px;
    display:inline-block;
}

.vcenter {
    display: flex;
    align-items: center;
}
